.left-contents
  = render "shared/side-ber"

.right-contents
  .right-contents__top
    .right-contents__top__box
      .right-contents__top__box__left
        = @group.name
      .right-contents__top__box__right
        .right-contents__top__box__right__edit
          = link_to "Edit", edit_group_path(current_user)

    .right-contents__top__member
      = "Member："
      - @group.users.each do |user|
        = user.name

  .right-contents__center
    = render partial:"shared/message",collection: @messages

  .right-contents__bottom
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'right-contents__bottom__message', placeholder: 'type a message'

      = f.label :image, class: 'right-contents__bottom__image' do
        = fa_icon 'image', class: 'right-contents__bottom__image--icon'
        = f.file_field :image, class: 'right-contents__bottom__image--hidden'

      = f.submit 'Send', class: 'right-contents__bottom__submit'