.header
  .header__logo
    グループを作成しました

.left-contents
  .left-contents__top
    .left-contents__top__user
      .left-contents__top__user__name
        user-name
      .left-contents__top__user__icon
        = fa_icon 'edit'
        = fa_icon 'cog'

  .left-contents__bottom
    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    

.right-contents
  .right-contents__top
    .right-contents__top__box
      .right-contents__top__box__left
        group1
      .right-contents__top__box__right
        .right-contents__top__box__right__edit
          Edit
    .right-contents__top__member
      Member : user1
  .right-contents__center
    .right-contents__center__top
      .right-contents__center__top__box
        .right-contents__center__top__box__user-name
          user-name
        .right-contents__center__top__box__time
          2019/09/13(Fri) 00:00:00

    .right-contents__center__bottom-box


  .right-contents__bottom