.header
  .header__logo
    グループを作成しました

.left-contents
  .left-contents__top
    .left-contents__top__user
      .left-contents__top__user__name
        user-name
      .left-contents__top__user__icon
        = fa_icon 'edit'
        = fa_icon 'cog'

  .left-contents__bottom
    .left-contents__bottom__group-name
      group1
    .left-contents__bottom__text-name
      ありがとう

    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    = render "group-list"
    

.right-contents
  .right-contents__top
    .right-contents__top__box
      .right-contents__top__box__left
        group1
      .right-contents__top__box__right
        .right-contents__top__box__right__edit
          Edit
    .right-contents__top__member
      Member : user1
  .right-contents__center
  .right-contents__bottom